.productWrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.card_wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-style: 1px solid black;
  height: 100%;
}

.card_wrapper .body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  }

.imagesRow {
  height: 350px;
}

.image {
  object-fit: contain;
}

.image:hover{
  transform: scale(1.05);
}
 
.cardTitle {
  font-weight: bold;
  color: #333;
}

.cardSubtitle{
  color: #555;
}