.productItem {
  display: flex;
  justify-content: space-between;
}

.cardImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

.productText {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.orderButton {
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.linkToHome {
  text-decoration: none;
}

.goToHomeButton {
  margin-bottom: 8px;
  text-decoration: none;
}

.orderButton:hover {
  background-color: #555;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
}
