@import '../../../styles/global.scss';

.nav_links {
    
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: white;

    li {
      @media (max-width: 576px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    @media ( max-width: 576px ) {
      flex-wrap: wrap;
    }

    a {
      text-decoration: none;
      color: grey;
      padding: 10px;
    }

    a:hover {
      color: green;
    }

    a.linkActive {
      color: white;
    }
}

.icon {
  width: 20px;
  height: 20px;
  padding: 10%;
  display: inline-flex;
  justify-content: flex-end;

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.cartCounter {
  margin: 3px 0 0 5px;
}

.animate {
  animation: pulse 0.7s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}