@import '../../../styles/global.scss';

.nav_links {
    
    margin: 0;
    list-style: none;
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    color: white;

    a {
      text-decoration: none;
      color: grey;
      padding: 10px;
    }

    a:hover {
      color: green;
    }

    a.linkActive {
      color: white;
    }
}

.icon {
  width: 20px;
  height: 20px;
  padding: 10%;
  display: inline-flex;
  justify-content: flex-end;
}